<app-header [answer]="inputValue" ></app-header>
<div class="container">
  <h4 class="mt-3">What's the answer to (2+3) * 5 </h4>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Answer here</label>
    <input [(ngModel)]="inputValue" type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <button (click)="onSubmitAnswer()" type="button" class="btn btn-primary">Submit</button>
  <div class="alert alert-primary mt-3 {{correctStyle}}" role="alert">
    Correct answer!
  </div>
  <div class="alert alert-danger mt-3 {{wrongStyle}}" role="alert">
    You failed the answer
  </div>
</div>
<app-footer></app-footer>
