<app-header></app-header>
<div class="container">
  <app-card [cardValue]="cardInfo"></app-card>
  <app-button></app-button>
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea formControlName="suggestion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<app-footer (inputEvent)="recieveInput($event)"></app-footer>
