<app-header></app-header>
<div class="container">
  <p>{{random}}</p>

  <p *ngIf="age > 5">{{todaysDate | date: 'd/M/yy'}}</p>

  <h1 *ngFor="let color of colors" [title]="color" >{{color}}</h1>

  <div [ngSwitch]="age">
    <p *ngSwitchCase="1">The age is 1</p>
    <p *ngSwitchCase="2">The age is 2</p>
    <p *ngSwitchCase="3">The age is 3</p>
    <p *ngSwitchCase="4">Hello 4 </p>
    <p *ngSwitchCase="5">The age is 5</p>
    <p *ngSwitchDefault="">The age is Something else</p>
  </div>

  <div *ngFor="let person of persons; let i = index;" class="bg-primary w-100 p-5 m-2"
  [ngClass]="{'bg-secondary': i == persons.length - 1 }">
    <p class="text-white">Name: {{person.name}} {{i}}</p>
    <p class="text-secondary">Age: {{person.age}} {{i}} </p>
  </div>

  <!-- String, Array, Object -->
  <div [ngClass]="styleBold">
    Some Text Examples
  </div>

  <h1 [ngClass]="stylings">
    This is a very good time
  </h1>

  <!-- {'style': condition} -->
  <p [ngClass]="{
    'big': age > 10,
    'small': age <= 10
  }">I am a champ</p>

  <p [title]="someDescription">{{someString | uppercase }}</p>
  <h1>{{someDescription | lowercase}}</h1>
  <p>B: {{b | currency:'USD':'symbol':'3.1-2'}}</p>


  <button type="button" (click)="printAge(5)" class="btn btn-primary">Click me</button>

  <h3 (mouseenter)="hoverHandler()">Hover me</h3>
  <p>I am {{age}} years old</p>

  <app-card [cardValue]="cardInfo"></app-card>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus perspiciatis fuga assumenda nobis iste eius fugiat at suscipit accusantium iure modi numquam nesciunt repellendus odit consectetur voluptas natus possimus, impedit obcaecati sed. Minima, cum doloremque ratione eveniet dolores odit consequuntur animi harum facilis numquam ducimus, fuga commodi. Rerum iure debitis fugiat dolore est harum repellendus omnis repellat! Error explicabo incidunt ullam nostrum consequuntur saepe doloremque qui sunt blanditiis consequatur, tenetur ea voluptatum dolores recusandae dolor, illo ut voluptates quaerat cumque. Repellat voluptas molestias asperiores hic quisquam corporis, quia, omnis labore eos doloribus, minus saepe cupiditate dolorem maxime! Corrupti, laboriosam laborum?</p>
  <p [title]="someDescription">{{someString}}</p>




  <!-- <img [src]="imageUrl" [height]="imgHeight" alt=""> -->
  <app-image [image]="imageValue"></app-image>



  <div class="mt-2">
    <button (click)="onHeightIncrease()" type="button" class="btn btn-primary">Increase</button>
    <button (click)="onReset()" type="button" class="btn btn-secondary ms-2">Reset</button>
  </div>
  <p>{{inputValue}}</p>
  <app-button [buttonText]="buttonValue"></app-button>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Enter some text</label>
    <input type="text" class="form-control" [(ngModel)]="inputValue" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

</div>
<app-footer></app-footer>



