.bold {
  font-weight: bolder;
}

.red {
  color: red;
  background-color: rebeccapurple;
}

.center {
  text-align: center;
}


.font-light {
  font-weight: 300;
}

.big {
  font-size: 100px;
}

.small {
  font-size: 10px;
}
